.loader-line-mask {
  position: absolute;
  overflow: hidden;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  mix-blend-mode: hard-light;
  opacity: 0.7;
}

.loader-line-mask .loader-line {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.loader-line-mask.one {
  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  -o-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}

.loader-line-mask.one .loader-line {
  box-shadow: inset 0 0 0 10px #77C170;
}

.loader-line-mask.two {
  -webkit-animation: rotate 1.8s 0.5s infinite linear;
  -moz-animation: rotate 1.8s 0.5s infinite linear;
  -o-animation: rotate 1.8s 0.5s infinite linear;
  animation: rotate 1.8s 0.5s infinite linear;
}

.loader-line-mask.two .loader-line {
  box-shadow: inset 0 0 0 10px #F25F5C;
}

.loader-line-mask.three {
  -webkit-animation: rotate 2s 1s infinite linear;
  -moz-animation: rotate 2s 1s infinite linear;
  -o-animation: rotate 2s 1s infinite linear;
  animation: rotate 2s 1s infinite linear;
}

.loader-line-mask.three .loader-line {
  box-shadow: inset 0 0 0 10px #FFE066;
}

.loader-line-mask.four {
  -webkit-animation: rotate 1.8s 1.4s infinite linear;
  -moz-animation: rotate 1.8s 1.4s infinite linear;
  -o-animation: rotate 1.8s 1.4s infinite linear;
  animation: rotate 1.8s 1.4s infinite linear;
}

.loader-line-mask.four .loader-line {
  box-shadow: inset 0 0 0 10px #247BA0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
