.carregamento-pagina {
  z-index: 99999999;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  text-align: center;
  p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
  }
}